<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        https://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">
    <import resource="classpath:applicationContext_datasource.xml"/>
    <bean class="com.dao.impl.DepDaoImpl" id="depDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean class="com.dao.impl.EmpDaoImpl" id="empDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean class="com.dao.impl.EmpRoleDaoImpl" id="empRoleDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean class="com.dao.impl.StoredetailDaoImpl" id="storedetailDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean class="com.dao.impl.GoodsDaoImpl" id="goodsDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean class="com.dao.impl.GoodstypeDaoImpl" id="goodstypeDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean class="com.dao.impl.SupplierDaoImpl" id="supplierDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean class="com.dao.impl.StoreoperDaoImpl" id="storeoperDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean class="com.dao.impl.StoreDaoImpl" id="storeDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean class="com.dao.impl.RoleMenuDaoImpl" id="roleMenuDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean class="com.dao.impl.RoleDaoImpl" id="roleDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean class="com.dao.impl.ReturnirdersDaoImpl" id="returnirdersDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean class="com.dao.impl.ReturnderdetailDaoImpl" id="returnderdetailDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean class="com.dao.impl.OrdersDaoImpl" id="ordersDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean class="com.dao.impl.OrderdetailDaoImpl" id="orderdetailDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean class="com.dao.impl.MenuDaoImpl" id="menuDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean class="com.dao.impl.InventoryDaoImpl" id="inventoryDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

</beans>